input[type="color"] {
	/* todo */
	outline: none;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
}

a {
	outline: 0 !important;
}

.absolute-center-align {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.link-disabled {
	pointer-events: none;
}

.deep-purple {
	color: hsla(255, 100%, 40%, 1);
}

.washed-purple {
	color: hsla(255, 100%, 40%, .2);
}

.bg-washed-purple {
	background: hsla(255, 100%, 40%, .2);
}

.link-mini {
	border-color: #ccc;
	transition: 0.35s ease-in-out !important;
}

.link-mini:hover {
	border-color: hsla(255, 100%, 40%, 1);
}

.ico-link {
	animation: bounce-right 1s linear infinite;
	animation-play-state: paused;
}

.link-main:hover > .ico-link {
	animation: bounce-right 1.25s linear infinite;
	animation-play-state: running;
}

@keyframes bounce-right {
	0% {transform:translateX(0%);}
	50% {transform:translateX(30%);}
	100% {transform:translateX(0%);}
}

.blink { animation: blinker 2s linear infinite; }
@keyframes blinker {
  50% { opacity: 0; }
}

.hover-button {
	transition: 0.35s ease-in-out !important;
}

.hover-button:hover {
	color: #f5f5f5;
	background-color: hsla(255, 100%, 40%, 1);
}

.h-auto {
	height: auto;
}

.blink-underline {
	animation: blink-underline 1.85s ease-in-out infinite;
}

@keyframes blink-underline {
	0% {border-color: #ccc;}
	50% { border-color: hsla(255, 100%, 40%, 1);}
	100% { border-color: #ccc;}
}

.move-down {
	animation: move-down 3s ease-in-out;
}

@keyframes move-down {
	0% {transform:translateY(0%); opacity:0;}
	10% {transform:translateY(10%);opacity:1;}
	90% {transform:translateY(10%);opacity:1;}
	100% {transform:translateY(0%);opacity:0;}
}

.vertical-scroll {
	animation: vertical-scroll 40s linear infinite;
}

@keyframes vertical-scroll {
	0% {transform:translateY(0%);}
	100% {transform:translateY(-100%);}
}
